<html>
<head>
</head>
@{
    ViewBag.Title = "Home Page";
}

@section Style
{
    <link href="@Url.Content("~/Style/Index.css")" rel="stylesheet" type="text/css" />
}
<body>
    <div class="jumbotron">
        <h1>Contact Tracing App</h1>
        <p class="lead">Create a profile and begin adding Contacts. </p>
        <div class="button-container">
            <button class="button-sign-up btn btn-primary btn-lg"><span class="button-text">@Html.ActionLink("Sign Up", "SignUp", "Home")</span></button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Irish Government</h2>
            <img src="~/Images/GovImage.png" />
            <p>For Government imposed measures, follow the link for further information. </p>
            <p><a class="btn btn-default" href="https://www.gov.ie/en/campaigns/c36c85-covid-19-coronavirus/?referrer=/health-covid-19">Gov.ie - Covid-19 &raquo;</a></p>
        </div>

        <div class="col-md-4">
            <h2>HSE </h2>
            <img src="~/Images/HSEImage.jpg" />
            <p>For Health and Safety in formantion, use the HSE website for further information.</p>
            <p><a class="btn btn-default" href="https://www2.hse.ie/coronavirus/">HSE - Covid-19 &raquo;</a></p>
        </div>

        <div class="col-md-4">
            <h2>WHO</h2>
            <img src="~/Images/WHOImage.jpg" />
            <p>For Global information about the Covid-19, follow the link to the WHO Website</p>
            <p><a class="btn btn-default" href="https://www.who.int/health-topics/coronavirus#tab=tab_1">WHO - Covid-19&raquo;</a></p>
        </div>
    </div>

</body>
</html>