.jumbotron{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.links-container{
    display:flex;
    margin: 0px 10px;
}
.button-container {
}
.button-sign-up {
    
}
.button-text{
    font-size: 45px;
}
.btn-primary {
    background-color: #b4083a;
    border-top: 6px solid #92062f;
    border-left: 6px solid #92062f;
    width: 200px;
    height: 80px;
}
a, a:hover, a:visited, a:focus, a:active, a:active:hover{
    color: white;
    text-decoration: none;
}
    .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:active:focus, .btn-primary:focus, .btn-primary:active:hover {
        background-color: #b4083a;
        border-top: 6px solid #92062f;
        border-left: 6px solid #92062f;
    }
.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px 0 #ccc;
}
.title {
    margin: 10px 0px;
    width: 300px;
    font-size: 40px;
    background-color: #b4083a;
    border-top: 6px solid #92062f;
    border-left: 6px solid #92062f;
    text-align: center;
    height: 70px;
    border-radius: 4px;
}
.title-text{
    color:white;
}

 