
body {
    
    /*background-image: linear-gradient(to bottom, #c7c8f0, #d2d2f3, #dddcf5, #e8e7f8, #f2f1fb, #f2f1fb, #f2f1fb, #f2f1fb, #e8e7f8, #dddcf5, #d2d2f3, #c7c8f0);*/
}
.jumbotron {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
}
.links-container {
    display: flex;
    margin: 0px 10px;

}
    @media only screen and (max-width : 768px){
        .links-container {
            flex-direction: column;
        }
    }

.button-container {
}
.button-sign-up {
    
}
.button-text{
    font-size: 30px;
}
.btn-primary {
    background-color: #609DD2;
    width: 170px;
    height: 60px;
}
.btn-default {
    background-color: #609DD2;
}
a, a:hover, a:visited, a:focus, a:active, a:active:hover {
    color: #E6F4F1;
    text-decoration: none;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:active:focus, .btn-primary:focus, .btn-primary:active:hover {
    background-color: #88C7FE;
    color: #E6F4F1;
}
.btn-default:hover, .btn-default:active {
    background-color: #88C7FE;
    color: #E6F4F1;
}
    .btn-default:active:focus, .btn-default:focus, .btn-default:active:hover {
        color: #E6F4F1;
        background-color: #002C56;
        outline: 2px dotted #895200;
        outline-offset: -6px;
        
    }
    .links {
        display: flex;
        border-radius: 10px;
        margin: 0px 20px 20px 20px;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 0 10px 0 #ccc;
    }
.title {
    margin: 10px 0px;
    width: 100%;
    font-size: 30px;
    text-align: center;
    height: 50px;
    border-radius: 4px;
}
.title-text{
    color:black;
}
.button-register {
    width: 170px;
    height: 60px;
    font-size: 30px;
}
 