

ul {
    list-style: none;
}
.navbar-inverse {
    border: none !important;
    background-color: #609DD2 !important;
}
    .navbar-inverse .navbar-brand {
        color: #E3F4F3;
    }
    .navbar-inverse .navbar-nav > li > a {
        color: #E3F4F3;
    }
        .navbar-inverse .navbar-nav > li > a:hover {
            background: #002C56;
            border-radius: 2px;
            box-shadow: 0 -1px 0 #002C56 inset, 0 -3px 0 #895200 inset;

        }
        nav-container > .navbar-inverse .navbar-nav > li > a {
            color: white;
        }
    nav-container > .navbar-inverse .navbar-brand {
        color: white;
    }
