.btn-default {
    background-color: #609DD2;
    color: #E6F4F1;
}

a, a:hover, a:visited, a:focus, a:active, a:active:hover {
    color: #E6F4F1;
    text-decoration: none;
}

.btn-default:hover, .btn-default:active {
    background-color: #88C7FE;
    color: #E6F4F1;
}

    .btn-default:active:focus, .btn-default:focus, .btn-default:active:hover {
        color: #E6F4F1;
        background-color: #002C56;
        outline: 2px dotted #895200;
        outline-offset: -6px;
    }

.button-create {
    width: 120px;
    height: 40px;
    font-size: 18px;
}
.reg-link > a, .reg-link > a:hover, .reg-link > a:visited, .reg-link > a:focus, .reg-link > a:active, .reg-link > a:active:hover {
    color: #337ab7;
    text-decoration: none;
}