.button-text {
    font-size: 30px;
}
.btn-default {
    background-color: #609DD2;
    color: white;
    width: 140px;
    height: 40px;
}

    .btn-default:hover, .btn-default:active, .btn-default:visited, .btn-default:active:focus, .btn-default:focus, .btn-default:active:hover {
        background-color: #609DD2;
        color: white;
    }

a {
    color: black;
    text-decoration: none;
}